<h3 class="create-listing-text mb-5"> Create Your Listing</h3>

<form method="POST">
    <input type="text" name="car_name" value="" placeholder="Car Brand" class="form-control mb-3 w-50">
    <input type="text" name="car_model" value="" placeholder="Car Model" class="form-control mb-3 w-50">
    <select name="car_type" id="car_type" class="form-control mb-3 w-50">
        <option value="sedan">Sedan</option>
        <option value="suv">SUV</option>
        <option value="mpv">MPV</option>
        <option value="sports">Sports Car</option>
    </select>
    <input type="text" name="car_hp" value="" placeholder="Horse Power" class="form-control mb-3 w-50">
    <select name="condition" id="condition" class="form-control mb-3 w-50">
        <option value="new">New</option>
        <option value="used">Used</option>
    </select>
    <input type="text" name="car_year" placeholder="Manufactured Year" value="" class="form-control mb-3 w-50">
    <input type="text" name="car_price" placeholder="Price" value="" class="form-control mb-3 w-50">
    <input type="text" name="car_mileage" placeholder="Mileage" value="" class="form-control mb-3 w-50">
    <input type="submit" value="Create" class="btn btn-dark form-control w-50">
</form>