{% extends "base.template.html" %}
{% block title %}
Vroom! - All listings
{%endblock%}
{% block content %}
<!-- create listing button -->
<div>
	<a href="{{url_for('show_create')}}" class="btn btn-primary mb-3 w-100"><b>Create Your Listing</b></a>
</div>
<hr class="hr-style">
<!-- pagination -->
<nav>
    <ul class="pagination d-flex justify-content-center">
        {% if page_number > 0 %}
            <li class="page-item">
                <a class="page-link"
                href="{{ url_for('show_all_listings', page_number=page_number-1) }}"
                ><b>Previous Page</b></a>
            </li>
        {%endif%}
        {% for page_no in range(number_of_pages) %}
            {%if page_number == page_no %}
                <li class="page-item disabled">
                    <a
                    href="{{ url_for('show_all_listings', page_number=page_no) }}"
                    class="page-link"><b>{{page_no+1}}</b></a>
                </li>
            {% else %}
                <li class="page-item">
                    <a
                    href="{{ url_for('show_all_listings', page_number=page_no) }}"
                    class="page-link"><b>{{page_no+1}}</b></a>
                </li>
            {%endif%}
        {% endfor %} 
        {% if page_number < number_of_pages-1 %}
            <li class="page-item">
                <a
                href="{{ url_for('show_all_listings', page_number=page_number+1) }}"
                class="page-link"><b>Next Page</b></a>
            </li>
        {% endif%} 
    </ul>
</nav>
<!-- listings -->
<div class="row row-cols-1 row-cols-md-3 d-flex justify-content-around align-items-start ml-3 mr-3">
	{% for each_listing in listings %}
<div class="card" style="margin: 2%; border: 2px white solid; box-shadow: 5px 5px;">
    <h5 class="card-title text-center p-4"><b>{{each_listing.listing_name}}</b></h5>
        <img src="{{each_listing.photolink}}" class="w-100"/>
    <div class="card-body">
    <h5 class="card-title">Sold By:</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item w-100">
        <a href="{{url_for('show_seller_listings', seller_id=each_listing.seller_id)}}" class="btn btn-primary w-100"><b>{{each_listing.seller_name}}</b></a>
        </li>
    </ul>
    <hr>
    <h5 class="card-title">Listed on:</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0 mb-3 text-primary">
            <b>{{each_listing.date_listed.strftime('%Y-%m-%d')}}</b></li>
    </ul>
    <hr>
    <h5 class="card-title">Asking Price:</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0 mb-3 w-100 price-col"><b>${{each_listing.car.car_price}}</b>
        </li>
    </ul>
    <hr>
    <h5 class="card-title">Contact:</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0 mb-3 w-100"><b><span class="text-primary">Phone No:</span></b> {{each_listing.seller_phone}}<br><b><span class="text-primary">Email:</span></b> {{each_listing.seller_email}}</li>
    </ul>
    <div id="accordion_{{each_listing._id}}">
        <div class="card">
        <div class="card-header" id="car_header_details_{{each_listing._id}}">
            <h5 class="mb-0">
            <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#car_details_{{each_listing._id}}"
                aria-expanded="false"
                aria-controls="car_details_{{each_listing._id}}"
            >
                Car Details
            </button>
            </h5>
        </div>

        <div
            id="car_details_{{each_listing._id}}"
            class="collapse"
            aria-labelledby="car_header_details_{{each_listing._id}}"
            data-parent="#accordion_{{each_listing._id}}"
        >
            <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                Brand: {{each_listing.car.car_brand}}
                </li>
                <li class="list-group-item">
                Model: {{each_listing.car.car_model}}
                </li>
                <li class="list-group-item">
                Car Type: {{each_listing.car.car_type}}
                </li>
                <li class="list-group-item">
                Horse Power: {{each_listing.car.car_hp}} bhp
                </li>
                <li class="list-group-item">
                Condition: {{each_listing.car.car_condition}}
                </li>
                <li class="list-group-item">
                Year Manufactured: {{each_listing.car.car_year}}
                </li>
                <li class="list-group-item">
                Mileage: {{each_listing.car.car_mileage}} Km
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{%endfor%}
</div>
{%endblock%}