{%extends "base.template.html"%}

{% block content %}
<h3 class="create-listing-text mb-5"> Create Your Listing</h3>

<form method="POST">
{%with%}
    {%if not previous_values %}
        {%set previous_values = {} %}
    {%endif%}

    {% include "all_create_listing.template.html" %}

    <input type="submit" value="Create" class="btn btn-primary form-control mt-3 w-100">
    <a href="{{url_for('show_all_listings')}}" value="Cancel" class="btn btn-danger form-control mt-3 mb-5 w-100">Cancel</a>
{%endwith%}
</form>
{%endblock%}