<!-- form for create and update components of Vroom -->
<div>
    <h3 class="text-primary header-shadow"><b>Car Details:</b></h3>
    <!-- listing title form -->
    <div>
        <input type="text" name="listing_name" value="{{previous_values.listing_name}}" placeholder="Give your listing an interesting title!" class="form-control mt-3 w-100" required>
    </div>
    <!-- car brand selection form -->
    <select name="car_brand" class="form-control mt-3 w-100 {%if 'car_brand_required' in errors %} is-invalid {%endif%}">
        <option value="" {%if previous_values == "" %} selected {%endif%}>Please select a car brand</option>
        {% for each_brand in car_brand %}
        <option value="{{each_brand.brand}}" {%if previous_values and each_brand.brand==previous_values.car_brand%} selected {%endif%}>{{each_brand.brand}}</option>
        {%endfor%}
    </select>
    <!-- errors display for car brand selection form -->
    <div class="invalid-feedback">
        {{errors.car_brand_required}}
    </div>
</div>
<div>    
    <!-- form for car model -->
    <input type="text" name="car_model" value="{{previous_values.car_model}}" placeholder="Car Model" class="form-control mt-3 w-100 {%if 'model_too_short' in errors or 'model_invalid_character' in errors %} is-invalid {%endif%}">
    <!-- errors display for car models -->
    <div class="invalid-feedback">
        {{errors.model_too_short}}
    </div>
    <div class="invalid-feedback">
        {{errors.model_invalid_character}}
    </div>
</div>
<div>
    <!-- car type selection form -->
    <select name="car_type" id="car_type" class="form-control mt-3 w-100 {%if 'car_type_required' in errors %} is-invalid {%endif%}">
        <option value="" {%if previous_values.car_type == "" %} selected {%endif%}>Please select a car type</option>
        <option value="Sedan" {%if previous_values.car_type == "Sedan" %} selected {%endif%}>Sedan</option>
        <option value="SUV" {%if previous_values.car_type == "SUV" %} selected {%endif%}>SUV</option>
        <option value="MPV" {%if previous_values.car_type == "MPV" %} selected {%endif%}>MPV</option>
        <option value="Sports Car" {%if previous_values.car_type == "Sports Car" %} selected {%endif%}>Sports Car</option>
    </select>
    <!-- error display for car type -->
    <div class="invalid-feedback">
        {{errors.car_type_required}}
    </div>
</div>
<div>
    <!-- form for car horsepower -->
    <input type="number" name="car_hp" value="{{previous_values.car_hp}}" min=0 placeholder="Horse Power" class="form-control mt-3 w-100" required>
</div>
<div>
    <!-- form for car condition -->
    <select name="car_condition" id="car_condition" class="form-control mt-3 w-100">
        <option value="New" {%if previous_values.car_condition == "New" %} selected {%endif%}>New</option>
        <option value="Used" {%if previous_values.car_type == "Used" %} selected {%endif%}>Used</option>
    </select>
</div>
<div>
    <!-- form for car year produced -->
    <input type="number" name="car_year" placeholder="Manufactured Year" min=0 value="{{previous_values.car_year}}" class="form-control mt-3 w-100" required>
</div>
<div> 
    <!-- form for asking price -->
    <input type="number" name="car_price" placeholder="Price" min=0 step="0.01" value="{{previous_values.car_price}}" class="form-control mt-3 w-100" required>
</div>
<div>
    <!-- form for car mileage driven    -->
    <input type="number" name="car_mileage" placeholder="Mileage" min=0 step="0.01" value="{{previous_values.car_mileage}}" class="form-control mt-3 mb-3 w-100" required>
</div>
<div>
    <!-- input form for image upload -->
    <h3 class="text-primary header-shadow"><b>Your image link:</b></h3>    
    <input type="text" name="photolink" placeholder="Paste your image link here" value="{{previous_values.photolink}}" class="form-control mt-3 w-100">
</div>