<!-- form content for register form -->
<div>
    <!-- email form -->
    <input type="text" class="form-control mb-3"  placeholder="Email" value="{{previous_values.email}}" name="email" required/>
</div>
<div>
    <!-- password form -->
    <input type="password" class="form-control mb-3 w-100 {%if 'password_too_short' in user_errors or 'password_no_special' in user_errors or 'password_no_spacing' in user_errors %} is-invalid {%endif%}" placeholder="Password" value="{{previous_values.password}}" name="password" required/>
    <!-- password form errors display -->
    <div class="invalid-feedback">
        {{user_errors.password_too_short}}
    </div>
    <div class="invalid-feedback">
        {{user_errors.password_no_special}}
    </div>
    <div class="invalid-feedback mb-3">
        {{user_errors.password_no_spacing}}
    </div>
</div>
<div>
    <!-- displayed name/shop name  -->
    <input type="text" class="form-control mb-3" placeholder="Displayed Name" value="{{previous_values.username}}" name="username" required/>
</div>
<div>
    <!-- phone number -->
    <input type="number" class="form-control mb-3 {%if 'phone_too_short' in user_errors %} is-invalid {%endif%}" placeholder="Phone Number" value="{{previous_values.phone}}" name="phone" required/>
    <div class="invalid-feedback mb-3">
        {{user_errors.phone_too_short}}
    </div>
</div>
    <!-- submit button -->
<input type="submit" value="Register" class="btn btn-primary mt-3 w-100" style="font-weight: bold;"/>
