body {
    background-color: whitesmoke;
    background-image: url('/static/pictures/vroombgimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.price-col {
    color: #ff4b5c;
}

.hr-style {
    border: 2px solid black;
}

.footer-style {
    background-color: #d6e0f0;
}

.header-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}